<ion-view view-title="iBar">
        <ion-content id="introContent">
          <h1 id="introTitulo">i B a r</h1>
          <div class="row">
            <div class="col">
              <button class="button button-block" ng-click="comenzar()" id="introButton">
                Comenzar
              </button>
              </div>
          </div>
          <!-- <button class="button center" ng-click="comenzar()" id="introButton">
            Comenzar
          </button> -->
          <div>
          <a id="introDescr" ng-click="reg()"> ¿Tienes un bar? Registrate...</a>
        </div>
        </ion-content>
</ion-view>
