<ion-view view-title="iBar">
        <ion-content id="introContent">
          <h1 id="regTitle">Cómo registrar un local</h1>
          <p id="regPar"> Descargate la aplicación 'localIbar' de la tienda de aplicaciones y siga los pasos que se le indicarán para registrar su local </p>
          <p id="regPar"> Registra el local y entra a formar parte de una nueva forma de atraer al público mediante ofertas personalizadas, eventos ...etc </p>
          <p id="regPar"> Si tiene algun problema contacte con: iBarApp@gmail.com </p>

        </ion-content>
</ion-view>
